flask==2.3.3
flask-cors==4.0.0
nbformat==5.9.2
chromadb==0.5.0
sentence-transformers==3.0.0
pandas==2.2.2
tqdm==4.66.4
langchain==0.2.0
langchain-community==0.2.0
rank-bm25==0.2.2
numpy==1.26.4
requests==2.31.0
openai==1.30.0
scikit-learn==1.4.2
joblib==1.4.2
tavily-python==0.3.0
gunicorn==21.2.0
waitress==3.0.0
